body {
  background: #E5E0D2;
}

div.menu {
  z-index: 9999999;
  padding: 8px;
}

#move_entry td:first-child > div {
  padding-left: 0 !important;
}

body:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
  background-blend-mode: multiply;
  z-index: 99999;
  pointer-events: none;
}

div#header {
  margin-bottom: 30px !important;
  border: 0;
  background: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
}

div#header a {
  color: white;
}

#header, #game-root {
  margin: 0 auto;
  max-width: 1160px;
}

#game-root > table:first-child {
  outline: 10px solid #94975F;
  background: #B3B380;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  padding: 10px;
}

#ledger {
  padding-top: 30px;
}

div.pool {
  margin-top: 30px;
  width: 100%;
  border: 0;
  padding: 0px;
  box-sizing: border-box;
  background: none;
}

div.pool > div:first-child {
  font-size: 18px;
  font-weight: bold;
  background-color: transparent !important;
  margin-bottom: 10px;
}

canvas#map, canvas#cults, .scoring, .bonus, .favor, .town, .faction-board {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
  border-style: solid;
  border-width: 6px !important;
  padding: 8px !important;
}

.bonus, .favor, .town {
  margin-right: 16px !important;
  margin-bottom: 16px !important;
}

.bonus > span:first-child,
.favor > span:first-child,
.town > span:first-child {
  font-weight: bold;
  font-size: 14px;
}

div#action_required {
  font-size: 18px;
  font-weight: bold;
  background: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: none;
  background: white;
  margin: 0;
  z-index: 999999;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.5);
  text-align: center;
}

div#data_entry {
  margin-bottom: 40px;
}

div.faction-board {
  border: 0;
  background: #EEEEEE;
  padding: 16px !important;
  padding-top: 70px !important;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 40px;
}

div.faction-info {
  font-size: 16px;
}

.faction-info > div:first-child {
  margin-bottom: 12px;
}

.faction-info > div:first-child > span:first-child {
  background: #F6D56B;
  padding: 5px;
  border-radius: 15px;
  display: inline-block;
  margin-right: 5px;
}

.faction-info > div:first-child > span:nth-child(2) {
  background: #D4C8A8;
  padding: 5px;
  border-radius: 15px;
  display: inline-block;
  margin-right: 5px;
}

.faction-info > div:first-child > span:nth-child(3) {
  background: white;
  padding: 5px 0 5px 5px;
  display:inline-block;
  border-radius: 15px 0 0 15px;
}
.faction-info > div:first-child > span:nth-child(4) {
  background: white;
  padding: 5px 0 5px 0;
  display:inline-block;
}
.faction-info > div:first-child > span:nth-child(5) {
  background: white;
  padding: 5px 5px 5px 0;
  display:inline-block;
  border-radius: 0 15px 15px 0;
  margin-right: 5px;
}

.faction-info > div:first-child > a:nth-child(6) {
  background: #F9982F;
  padding: 5px 0 5px 5px;
  border-radius: 15px 0 0 15px;
  display: inline-block;
  color: white;
}
.faction-info > div:first-child > span:nth-child(7) {
  background: #F9982F;
  padding: 5px 5px 5px 0;
  display: inline-block;
  border-radius: 0 15px 15px 0;
  margin-right: 5px;
  color: white;
}

.faction-info > div:first-child > span:nth-child(8) {
  background: #8C519E;
  color: white;
  padding: 5px;
  border-radius: 15px;
}


.faction-info > div:nth-child(2) > span:nth-child(1) {
  background: #85643B;
  color: white;
  padding: 5px;
  padding-right: 0;
  border-radius: 15px 0 0 15px;
}
.faction-info > div:nth-child(2) > span:nth-child(2) {
  background: #85643B;
  color: white;
  padding: 5px;
  padding-left: 0;
  border-radius: 0 15px 15px 0;
  margin-right: 5px;
}


.faction-info > div:nth-child(2) > span:nth-child(4) {
  background: #9CC4D8;
  color: white;
  padding: 5px;
  padding-right: 0;
  border-radius: 15px 0 0 15px;
  color: black;
}
.faction-info > div:nth-child(2) > span:nth-child(5) {
  background: #9CC4D8;
  color: white;
  padding: 5px;
  padding-left: 0;
  border-radius: 0 15px 15px 0;
  color: black;
}


table.building-table {
  margin-top: 20px;
}

table.building-table tr:first-child {
  font-weight: bold;
}

table.income-table > tr > td:first-child {
  font-weight: bold;
}

div.faction-board > div:first-child > div:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 16px 8px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

canvas#cults {
  background: #5C7C3D;
  border-color: #416428;
}

canvas#map {
  background: #BAD6E8;
  border-color: #4080C7;
  padding: 5px;
}

div.scoring {
  background: radial-gradient(#76889A, #5D7884);
  color: white;
  border-color: #3E5462;
}

.scoring > div:first-child {
  background: white;
  color: black;
  padding: 2px;
  border-radius: 20px;
  border-color: white;
}

.scoring-head + div span {
  color: black;
  background-color: #bbb;
}

.bonus {
  background-color: #F6ECCA;
  border-color: #648193;
}

.favor {
  background: radial-gradient(#F9EE89, #FAC06C);
  border-color: #F69F41;
}

.town {
  background: radial-gradient(#8E9CA1, #74837C);
  color: white;
  border-color: #BFA56B;
}

.cult-FIRE, .cult-EARTH, .cult-AIR, .cult-WATER {
  color: black;
}


#data_entry_tabs button, #move_entry_action {
  background: #B4B488;
  font-size: 18px;
  font-weight: normal !important;
  padding: 12px 18px;
  color: black;
  border-radius: 26px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#data_entry_tabs button:focus, #move_entry_action:focus {
  outline: none;
  background: #575757;
  color: white !important;
}

#data_entry_tabs button:hover, #move_entry_action:hover {
  outline: none;
  background: #575757;
  color: white !important;
}
